md-content
  div
    div
      h1 Sign up
    div
      form(name='form', ng-submit='vm.register(form)')
        md-input-container.md-block()
          label Name
          input(type='text',required='', name='name', ng-model='vm.user.name')
          div(ng-messages='form.name.$error')
            div(ng-message="required") A name is required
          //p(ng-show='form.name.$error.required && vm.submitted')
          //  | A name is required

        md-input-container.md-block()
          label Email
          input(type='email', name='email', ng-model='vm.user.email', required='', mongoose-error='')
          div(ng-messages='form.email.$error')
            div(ng-message="required") What's your email address?
            div(ng-message="email") Your email address is invalid
            div(ng-message="mongoose") {{ vm.errors.email }}

          //p(ng-show='form.email.$error.email && vm.submitted')
          //  | Doesn't look like a valid email.
          //p(ng-show='form.email.$error.required && vm.submitted')
          //  | What's your email address?
          //p(ng-show='form.email.$error.mongoose')
          //  | {{ vm.errors.email }}

        md-input-container.md-block()
          label Password
          input.form-control(type='password'
            name='password'
            ng-model='vm.user.password'
            mongoose-error=''
            ng-minlength='6', required='')
          div(ng-messages='form.password.$error')
            div(ng-message="required") A password is required
            div(ng-message="minlength") Password must be at least 6 characters.
            div(ng-message="mongoose") {{ vm.errors.password }}

        md-input-container.md-block()
          label Confirm Password
          input(type='password'
            name='confirmPassword'
            ng-model='vm.user.confirmPassword'
            match="vm.user.password"
            ng-minlength='3', required='')
          div(ng-messages='form.confirmPassword.$error')
            div(ng-message="match") Passwords must match.
          //p(ng-show='form.confirmPassword.$error.match && vm.submitted')
          //  | Passwords must match.

        section(layout='row')
          md-button(type='submit')
            | Sign up
          md-button(ui-sref='dash.login')
            | Login

        hr

        div
          div
            oauth-buttons(classes='btn-block')

  hr
